<!DOCTYPE html>
<html>
<head>
    <title>Rainfall prediction</title>
</head>
<body background="https://wallpaperaccess.com/full/688373.jpg" text="black" style="background-position: center; background-repeat: no-repeat">
    <div class="login">
        <center><h1  style="color: White;">EXPECT RAIN TODAY</h1></center> 
        <center><h2 style="color: White;"><pre>
            For agriculture, it's better not to start now. 
            Few crops like: Wheat, Gram, Barley, Peas, Oats, Chickpea, Linseed, Mustard, etc.\
            can be grown!
            General Purposes: 
            Please stay indoors, Stay safe!
        </pre></h2></center>
</body>
</html>