<!DOCTYPE html>
<html>
<head>
    <title>Rainfall prediction</title>
</head>
<body background="https://images.unsplash.com/photo-1421878615130-7c5243914117?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=869&q=80" text="black" style="background-position: center; background-repeat: no-repeat;  background-size: cover;">
    <div class="login">
        <center><h1  style="color: White;">No chances of rain today, enjoy your outing.</h1></center> 
        <center><h2 style="color: White;"><pre>
            For agriculture: 
            Irrigation can be done.
            Crops like Cucumber, Pumpkin, Bitter gourd, Watermelon, Muskmelon, Sugarcane, Groundnut, Pulses, can be grown!
            For general purposes: 
            Great day for outing, do your routine!

        </pre></h2></center>
</body>
</html>